<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tr="http://www.w3.org/1999/xhtml">
<head>
    <title>Area 区域List</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>

<div>

    <form th:action="@{/region/searchList}" method="post" th:object="${areaModel}">

        <label class="col-md-1 control-label">用户名：</label>
        <div class="col-md-2">
            <input type="text" name="mUserName" placeholder="请输入区域名称" class="form-control"/>
        </div>
        <div class="form-actions">
            <input type="submit" value="查询"/>

        </div>
    </form>

</div>
<div>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <td>id</td>
            <td>区域ID</td>
            <td>区域名称</td>
            <td>城市ID</td>
            <td colspan="8" align="center">操作权限</td>
        </tr>
        </thead>

        <tr th:each="area:${arealist}">

            <td th:text="${area.id}"></td>
            <td th:text="${area.mAreaId}"></td>
            <td th:text="${area.mAreaName}"></td>
            <td th:text="${area.mCityId}"></td>
            <td th:text="编辑" align="center"></td>
            <td th:text="删除" align="center"></td>
        </tr>
    </table>
    <tr>

        <td colspan="8">

        <td th:text="'共' + ${totalPageNumber} + '条记录'">总数量</td>
        <td th:text="'共' + ${pageSize} + '页'">共多少页</td>
        <td th:text="'当前第' + ${number+1} + '页'">当前第多少页</td>
        <a th:href="@{/region/selectArea(page=${number-1})}">上一页</a>
        <a th:href="@{/region/selectArea(page=${number+1})}">下一页</a>
        </td>
    </tr>
</div>
</body>
</html>