<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>城市city list</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>

<div>


    <table class="table table-bordered table-striped">
        <thead>

        <tr>
            <td>id</td>
            <td>城市ID</td>
            <td>城市名称</td>
            <td>省ID</td>
        </tr>
        </thead>

        <tr th:each="city:${citylist}">
            <td th:text="${city.id}"></td>
            <td th:text="${city.mCityId}"></td>
            <td th:text="${city.mCityName}"></td>
            <td th:text="${city.mProvinceId}"></td>
        </tr>
    </table>
    <!--<div th:include="fragments/page :: pager" style="width:100%; padding-top:20px; float:right;"></div>-->
</div>


</body>
</html>