<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>设计师列表管理 Title</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
<div>
    <table class="table table-bordered table-striped">

        <thead>
        <tr>
            <td>id</td>
            <td>设计师编号</td>
            <td>设计师名称</td>
        </tr>

        </thead>
        <tr th:each="designer:${designerList}">
            <td th:text="${designer.id}">id</td>
            <td th:text="${designer.type}">mRoleName</td>
            <td th:text="${designer.name}">name</td>

        </tr>

    </table>

</div>
</body>
</html>