<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>编辑轮播图</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>


<form action="/mBanner/editBanner" method="post" th:object="${mBannerModel}">
    <td>
        <input type="hidden" th:field="${mBannerModel.id}" name="mUserName"
               class="form-control"/>
    </td>

    <td>
        <label>轮播图名称:</label>
        <input type="text" th:field="${mBannerModel.mBannerName}" name="mBannerName" placeholder="请输入轮播图名称"
               class="form-control"/>
    </td>
    <td>
        <label>轮播图URL:</label>
        <input type="text" th:field="${mBannerModel.mBannerUrl}" name="mBannerUrl" placeholder="请输入轮播图URL"
               class="form-control"/>
    </td>
    <td>
        <label>轮播图类型:</label>
        <input type="text" th:field="${mBannerModel.mBannerType}" name="mBannerType" placeholder="请输入轮播图类别"
               class="form-control"/>
    </td>
    <td>
        <input type="submit" value="保存"/>

    </td>
</form>
</body>
</html>