<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>财务人员列表 Title</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
<div>
    <table class="table table-bordered table-striped">

        <thead>
        <tr>
            <td>id</td>
            <td>财务姓名</td>
        </tr>

        </thead>
        <tr th:each="finance:${financeList}">
            <td th:text="${finance.id}">id</td>
            <td th:text="${finance.name}">financeName</td>

        </tr>

    </table>

</div>
</body>
</html>