<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>财务人员列表 Title</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
<div>
    <table class="table table-bordered table-striped">

        <thead>
        <tr>
            <td>id</td>
            <td>财务姓名</td>
            <td colspan="8" align="center">操作权限</td>
        </tr>

        </thead>
        <tr th:each="finance:${financeList}">
            <td th:text="${finance.id}">id</td>
            <td th:text="${finance.name}">financeName</td>
            <td th:text="编辑" colspan="4" align="center"></td>
            <td th:text="删除" colspan="4" align="center"></td>
        </tr>

    </table>
    <tr>

        <td colspan="8">

        <td th:text="'共' + ${totalPageNumber} + '条记录'">总数量</td>
        <td th:text="'共' + ${pageSize} + '页'">共多少页</td>
        <td th:text="'当前第' + ${number+1} + '页'">当前第多少页</td>
        <a th:href="@{/tDepartmentFinance/selectFinance(page=${number-1})}">上一页</a>
        <a th:href="@{/tDepartmentFinance/selectFinance(page=${number+1})}">下一页</a>
        </td>
    </tr>
</div>
</body>
</html>