<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>角色管理 Title</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
<div>
    <table class="table table-bordered table-striped">

        <thead>
        <tr>
            <td>id</td>
            <td>家具设计师编号</td>
            <td>家具设计师名称</td>
        </tr>

        </thead>
        <tr th:each="fundesigner:${fundesignerList}">
            <td th:text="${fundesigner.id}">id</td>
            <td th:text="${fundesigner.name}">fundesignerName</td>
            <td th:text="${fundesigner.type}">fundesignerType</td>

        </tr>

    </table>

</div>
</body>
</html>