<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>大区域管理列表 Title</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
<div>
    <table class="table table-bordered table-striped">

        <thead>
        <tr>
            <td>id</td>
            <td>大区域名称</td>
            <td>大区域ID</td>
        </tr>

        </thead>
        <tr th:each="largeArea:${largeAreaList}">
            <td th:text="${largeArea.id}">id</td>
            <td th:text="${largeArea.largeAreaName}">mRoleNumber</td>
            <td th:text="${largeArea.largeAreaId}">mRoleName</td>
        </tr>

    </table>

</div>
</body>
</html>