<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>项目经理管理 Title</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>

<div>

    <form th:action="@{/tDepartmentManager/searchList}" method="post" th:object="${tDepartmentManagerModel}">

        <label class="col-md-1 control-label">大区域名称：</label>
        <div class="col-md-2">
            <input type="text" name="name" placeholder="请输入大区域名称" class="form-control"/>
        </div>
        <div class="form-actions">
            <input type="submit" value="查询"/>

        </div>
    </form>

</div>
<div>
    <table class="table table-bordered table-striped">

        <thead>
        <tr>
            <td>id</td>
            <td>项目经理类型</td>
            <td>项目经理名称</td>
            <td colspan="8" align="center">操作权限</td>
        </tr>

        </thead>
        <tr th:each="manager:${managerList}">
            <td th:text="${manager.id}">id</td>
            <td th:text="${manager.type}">managerType</td>
            <td th:text="${manager.name}">managerName</td>
            <td>

                <form th:action="@{/tDepartmentManager/editView(id=${manager.id})}" th:object="${model}"
                      method="post">
                    <button type="submit">编辑</button>
                </form>
            </td>
            <td>
                <form th:action="@{/tDepartmentManager/deleteById(id=${manager.id})}"
                      th:object="${model}" method="post">
                    <button type="submit">删除</button>
                </form>
            </td>
        </tr>

    </table>
    <tr>

        <td colspan="8">

        <td th:text="'共' + ${totalPageNumber} + '条记录'">总数量</td>
        <td th:text="'共' + ${pageSize} + '页'">共多少页</td>
        <td th:text="'当前第' + ${number+1} + '页'">当前第多少页</td>
        <a th:href="@{/tDepartmentManager/selectManager(page=${number-1})}">上一页</a>
        <a th:href="@{/tDepartmentManager/selectManager(page=${number+1})}">下一页</a>
        </td>
    </tr>
</div>
</body>
</html>