<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>项目经理管理 Title</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
<div>
    <table class="table table-bordered table-striped">

        <thead>
        <tr>
            <td>id</td>
            <td>项目经理类型</td>
            <td>项目经理名称</td>
        </tr>

        </thead>
        <tr th:each="manager:${managerList}">
            <td th:text="${manager.id}">id</td>
            <td th:text="${manager.type}">managerType</td>
            <td th:text="${manager.name}">managerName</td>

        </tr>

    </table>

</div>
</body>
</html>