<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
</head>
<body>


<form action="/tDepartmentDesigner/newDesigner" method="post" th:object="${designerModel}">
    <td>
        <label>设计师姓名:</label>
        <input type="text" name="name" placeholder="请输入设计师名称" class="form-control"/>
    </td>
    <td>
        <label>设计师类别:</label>
        <input type="text" name="type" placeholder="请输入设计师类别" class="form-control"/>
    </td>

    <input type="submit" th:value="保存"/>

</form>


</body>
</html>