<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>新建项目经理 Title</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>


<form action="/tDepartmentManager/newManager" method="post" th:object="${managerModel}">
    <td>
        <label>项目经理姓名:</label>
        <input type="text" name="name" placeholder="请输入项目经理姓名" class="form-control"/>
    </td>
    <td>
        <label>项目经理类型:</label>
        <input type="text" name="type" placeholder="请输入项目经理类型" class="form-control"/>
    </td>
    <input type="submit" th:value="保存"/>

</form>


</body>
</html>