<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title>success view</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>




<div layout:fragment="content" class="container">


    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <td>id</td>
            <td>省份ID</td>
            <td>省份名称</td>
        </tr>
        </thead>
        <tr th:each="provice : ${mProvince}">
            <td th:text="${provice.id}">id</td>
            <td th:text="${provice.provinceId}">provinceId</td>
            <td th:text="${provice.mProvinceName}">mProvinceName</td>
        </tr>
    </table>
</div>

</body>
</html>