<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title>省列表 success view</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>

<div>

    <form th:action="@{/region/searchList}" method="post" th:object="${mProvinceModel}">

        <label class="col-md-1 control-label">用户名：</label>
        <div class="col-md-2">
            <input type="text" name="mProvinceName" placeholder="请输入省份名称" class="form-control"/>
        </div>
        <div class="form-actions">
            <input type="submit" value="查询"/>

        </div>
    </form>

</div>


<div layout:fragment="content" class="container">


    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <td>id</td>
            <td>省份ID</td>
            <td>省份名称</td>
            <td colspan="8" align="center">操作权限</td>
        </tr>
        </thead>
        <tr th:each="provice : ${mProvince}">
            <td th:text="${provice.id}">id</td>
            <td th:text="${provice.provinceId}">provinceId</td>
            <td th:text="${provice.mProvinceName}">mProvinceName</td>
            <td th:text="编辑" colspan="4" align="center"></td>
            <td th:text="删除" colspan="4" align="center"></td>
        </tr>
    </table>
</div>
<tr>

    <td colspan="8">

    <td th:text="'共' + ${totalPageNumber} + '条记录'">总数量</td>
    <td th:text="'共' + ${pageSize} + '页'">共多少页</td>
    <td th:text="'当前第' + ${number+1} + '页'">当前第多少页</td>
    <a th:href="@{/region/selectProvice(page=${number-1})}">上一页</a>
    <a th:href="@{/region/selectProvice(page=${number+1})}">下一页</a>
    </td>
</tr>
</body>
</html>

