<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title>success view</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>

<div>
    <div>
        <tr>
            <form th:action="@{/province.html?search}"  method="post" th:object="${mProvinceModel}">

                <td>省份名稱:</td>
                <td><input type="text" name="mProvinceName" placeholder="请输入省份名稱" class="form-control"/></td>

                <td><input type="submit" value="查询" name="search"/></td>
                <!--<input type="text" name="username" placeholder="用户名" class="form-control"/>-->
            </form>

            </tr>

    </div>
</div>


<div layout:fragment="content" class="container">


    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <td>id</td>
            <td>省份ID</td>
            <td>省份名称</td>
        </tr>
        </thead>
        <tr th:each="provice : ${mProvince}">
            <td th:text="${provice.id}">id</td>
            <td th:text="${provice.provinceId}">provinceId</td>
            <td th:text="${provice.mProvinceName}">mProvinceName</td>
        </tr>
    </table>
</div>

</body>
</html>
<script>





</script>