<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>角色管理 Title</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
<div>
    <table class="table table-bordered table-striped">

        <thead>
        <tr>
            <td>id</td>
            <td>角色编号</td>
            <td>角色名称</td>
        </tr>

        </thead>

        <tr th:each="role:${roleList}">
            <td th:text="${role.id}">id</td>
            <td th:text="${role.mRoleNumber}">mRoleNumber</td>
            <td th:text="${role.mRoleName}">mRoleName</td>

        </tr>


    </table>

</div>
</body>
</html>