<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>角色管理 Title</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
<div>
    <table class="table table-bordered table-striped">

        <thead>
        <tr>
            <td>id</td>
            <td>角色编号</td>
            <td>角色名称</td>
        </tr>

        </thead>
        <tr th:each="sales:${salesList}">
            <td th:text="${sales.id}">id</td>
            <td th:text="${sales.saleType}">saleType</td>
            <td th:text="${sales.saleName}">saleName</td>

        </tr>

    </table>
    <tr>

        <td colspan="8">

        <td th:text="'共' + ${totalPageNumber} + '条记录'">总数量</td>
        <td th:text="'共' + ${pageSize} + '页'">共多少页</td>
        <td th:text="'当前第' + ${number+1} + '页'">当前第多少页</td>
        <a th:href="@{/tDepartmentSales/selecttDepartmentSales(page=${number-1})}">上一页</a>
        <a th:href="@{/tDepartmentSales/selecttDepartmentSales(page=${number+1})}">下一页</a>
        </td>
    </tr>
</div>
</body>
</html>