<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>项目监理列表 Title</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
<div>
    <table class="table table-bordered table-striped">

        <thead>
        <tr>
            <td>id</td>
            <td>项目监理类型ID</td>
            <td>项目监理姓名</td>
        </tr>

        </thead>
        <tr th:each="super:${superList}">
            <td th:text="${super.id}">id</td>
            <td th:text="${super.type}">superType</td>
            <td th:text="${super.name}">superName</td>

        </tr>

    </table>

</div>
</body>
</html>