<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>用户列表 Title</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>

    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div>
    <form th:action="@{/user/searchList}" method="post" th:object="${userModel}">

        <div class="form-group " align="center">
            <label class="col-md-1 control-label">用户名：</label>
            <div class="col-md-2">
                <input type="text" name="mUserName" placeholder="请输入用户名" class="form-control"/>
            </div>
        </div>
        <div class="form-group " align="center">

            <label class="col-md-1 control-label">用户电话：</label>
            <div class="col-md-2">
                <input type="text" name="mUserTel" placeholder="请输入用户电话" class="form-control"/>
            </div>
        </div>

        <div class="form-group " align="center">
            <label class="col-md-1 control-label">用户账号：</label>
            <div class="col-md-2">
                <input type="text" name="mUserAccount" placeholder="请输入用户账号" class="form-control"/>
            </div>
        </div>

        <div class="form-actions">
            <input type="submit" value="查询"/>

        </div>

    </form>

    <div class="form-group" align="center">

        <a type="button" th:href="@{/user/newUser}">新建用户</a>

    </div>
</div>


<table class="table table-bordered table-striped">

    <thead>
    <tr>

        <td>id</td>
        <td>用户姓名</td>
        <td>用户电话</td>
        <td>用户账号</td>
        <td>创建时间</td>
        <td>个人头像</td>
        <td colspan="8" align="center">操作权限</td>
    </tr>
    </thead>
    <tr th:each="user:${userList}">

        <td th:text="${user.id}">id</td>
        <td th:text="${user.mUserName}">mUserName</td>
        <td th:text="${user.mUserTel}">mUserTel</td>
        <td th:text="${user.mUserAccount}">mUserAccount</td>
        <td th:text="${user.createTime}">createTime</td>
        <td th:text="${user.mUserImageUrl}">mUserImageUrl</td>
        <td>
            <a href="editUser.html" th:href="@{/user/editUser(userId = ${user.id})}" th:text="编辑"
               align="center"></a>
        </td>
        <td>

            <form th:action="@{/user/delUserById(userId=${user.id})}" th:object="${userModel}" method="post">
                <button type="submit">删除</button>
            </form>
            <!--<button th:text="删除" th:align="center" data-toggle="modal" data-target="#delModal"-->
        </td>
        <td>
            <form th:action="@{/user/resetPsdModal(userId=${user.id})}" method="post">
                <button type="submit">重置密码</button>
            </form>
            <!--<a href="resetPsdModal.html" th:href="@{/user/resetPsdModal(userId=${user.id})}" type="submit" >重置密码-->
            <!--</a>-->

        </td>
    </tr>

</table>

<tr>

    <td colspan="8">

    <td th:text="'共' + ${totalPageNumber} + '条记录'">总数量</td>
    <td th:text="'共' + ${pageSize} + '页'">共多少页</td>
    <td th:text="'当前第' + ${number+1} + '页'">当前第多少页</td>
    <a th:href="@{/user/selectUserList(page=${number-1})}">上一页</a>
    <a th:href="@{/user/selectUserList(page=${number+1})}">下一页</a>
    </td>
</tr>
<div>


</div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="delModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>

                <h4 class="modal-title" id="myModalLabel">
                    删除用户
                </h4>
            </div>
            <div class="modal-body">
                您确定要删除该用户？
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary">
                    确认删除
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="resetPsdModal" tabindex="-1" role="dialog" aria-labelledby="resetPsdModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="resetPsdModalLabel">
                    重置密码
                </h4>
            </div>
            <div class="modal-body">
                <label>旧密码</label>
                <input type="text" name="password" placeholder="请输入旧密码" class="form-control"/>
                <label>新密码</label>
                <input type="text" name="newPassword" placeholder="请输入新密码" class="form-control"/>
                <label>确认新密码</label>
                <input type="text" name="confirmNewPassword" placeholder="请再次输入新密码" class="form-control"/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary">确认重置</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
</body>
</html>