<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>工人信息列表 Title</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
<div>
    <table class="table table-bordered table-striped">

        <thead>
        <tr>
            <td>id</td>
            <td>工人姓名</td>
            <td>工人手机号</td>
            <td>工人类型</td>
            <td>加入时间</td>
        </tr>

        </thead>
        <tr th:each="work:${workList}">
            <td th:text="${work.id}">id</td>
            <td th:text="${work.tWorkName}">tWorkName</td>
            <td th:text="${work.tWorkTel}">tWorkTel</td>
            <td th:text="${work.tWorkType}">tWorkType</td>
            <td th:text="${work.createTime}">mRoleName</td>
        </tr>

    </table>

</div>
</body>
</html>